<div class="order_container">
  <h2>Active Orders</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Placed</th>
        <th>Name</th>
        <th>Order</th>
        <th>Total</th>
        <th>Customer Card</th>
        <th>Exp.</th>
      </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at.strftime("%m/%d") %></td>
        <td><%= order.first_name %> <%= order.last_name %> (<%= mail_to(order.email) %>)</td>
        <td><%= order.product.title %></td>
        <td><%= number_to_currency(order.product.price) %></td>
        <% extra_digits = order.credit_card.length - 4 %>
        <td><%= "*" * extra_digits %><%= order.credit_card.last(4) %></td>
        <td><%= order.expiration.strftime("%m/%y") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="total">
    <%= %>
  </div>
</div>
