<div class="order_container">
  <div class="col-md-12 order_review">
    <div class="col-md-2">
      <%= image_tag @product.pic.thumb.url %>
    </div>
    <div class="col-md-10">
      <div class="col-md-12">
        <h2><%= @product.title %>   <span>x 1</span> - LaunchPad Lab</h2>

        <div class="price">
          <h2>Total: <%= number_to_currency(@product.price) %></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="checkout_area">
    <div class="col-md-2 side">
    </div>
    <div class="col-md-8 form">
      <h2>Checkout <i class="fa fa-angle-down"></i></h2>
      <% @errors = notice %>
      <% if @errors != nil %>
        <ul>
          <% @errors.each do |error| %>
          <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_for(@order) do |f| %>
        <div class="col-md-6 no_padding first">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, :class => "form-control" %>
        </div>

        <div class="col-md-6 no_padding">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, :class => "form-control" %>
        </div>


        <%= f.label :email %>
        <%= f.email_field :email, :class => "form-control" %>

        <%= f.label :credit_card %>
        <%= f.text_field :credit_card, :class => "form-control" %>

        <%= f.label :expiration %><br />
        <%= date_select("order", "expiration", discard_day: true, start_year: Date.today.year, end_year: Date.today.year + 10,  :class => "form-control") %>

        <%= f.hidden_field :product_id, :value => @product.id %>


        <%= f.submit 'Make Purchase', :class => "btn btn-primary" %>

      <% end %>
    </div>
    <div class="col-md-2"></div>
    <div class="fix clearfix"></div>
  </div>
</div>
