<% if notice != nil %>
  <p class="bg-success notice"><%= notice %></p>
<% end %>
<div class="products_container">
  <div class="col-md-5">
    <%= image_tag @product.pic.url %>
  </div>
  <div class="col-md-7">
    <h2><%= @product.title %></h2>
    <p><%= @product.description %></p>
    <h3><%= @product.price %></h3>
    <%= link_to "Purchase #{@product.title}", "/orders/new/#{@product.id}", :class => "btn btn-default" %>
  </div>
</div>
