<div class="show_container">
  <h2><%= @product.title %></h2>
  <%= image_tag @product.pic %>
  <h3><%= @product.price %></h3>
  <p><%= @product.description %></p>
  <%= link_to "Purchase #{@product.title}", "/orders/new/#{@product.id}", :class => "btn btn-default" %>
</div>
