<!DOCTYPE html>
<html>
<head>
  <title>LLChallenge</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <h1><%= link_to "LaunchPad Garage Sale", root_url %></h1>
  <h3><%= link_to "LaunchPad Lab", "http://launchpadlab.com/" %> is moving: buy their leftover shit for cheap!</h3>
  <ul class="nav">
    <li><%= link_to "List New Product", new_product_path, :class => "btn btn-default" %></li>
    <li><%= link_to "Active Orders", orders_path, :class => "btn btn-default" %></li>
  </ul>
  <%= yield %>

</div>

</body>
</html>
